POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=mydb

MONGO_USER=user
MONGO_PASSWORD=password

AIRFLOW_USER=user
AIRFLOW_PASSWORD=password
SUPERSET_USER=user
SUPERSET_PASSWORD=password
SUPERSET_SECRET_KEY=secret_key

